@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.cart-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 25px;
  padding: 50px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 20px;
}

.item-image {
  width: 250px;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.total-price {
  width: 100%;
}

.total-price hr {
  border: 0;
  height: 1px;
  background-color: #000;
  margin: 10px 0;
}

#checkout-button,
#continue {
  padding: 15px;
  margin-top: 50px;
  cursor: pointer;
  background-color: #6e7865;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 25px;
  margin-top: 25px;
  text-decoration: none;
}

.link-cart {
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
}

p,
span,
.total-price {
  font-family: Martel Sans, sans-serif;
}
