a {
    text-decoration: none;
  }
  
  .section1-women {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .color-dot-black1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    border: 1px solid white;
    margin-right: 8px;
  }
  
  .color-dot-pink {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #c29ab2;
    border: 1px solid white;
    margin-right: 8px;
  }
  
  .color-dot-green {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4d4f42;
    border: 1px solid white;
    margin-right: 8px;
  }
  
  .section2-women {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 25px;
  }
  
  .color-dot-black2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    border: 1px solid white;
    margin-right: 8px;
  }
  
  .color-dot-navy {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2e3447;
    border: 1px solid white;
    margin-right: 8px;
  }
  
  .color-dot-black3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    border: 1px solid white;
    margin-right: 8px;
  }