/* Feel free to add as many of these imports as you need */
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

*,
*::after,
*::befor {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  background-color: #6e7865;
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  padding-bottom: 70px;
}

/*-----------header-------------*/

header {
  position: relative;
}

.header-img-wrapper {
  position: relative;
  display: flex;
  max-width: 100%;
}

.header-img {
  width: 100%;
  height: 100vh;
}

.logo {
  position: absolute;
  padding: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 16px;
}

.nav-links {
  color: #fce25a;
  font-family: "Roboto", sans-serif;
  font-size: 1.675rem;
  font-weight: 500;
  text-decoration: none;
}

.navigation {
  position: absolute;
  top: 0;
  right: 0;
  padding: 60px 20px;
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: #fce25a;
}

.cart-icon {
  max-width: 50px;
}

/*-----hamburger----*/
#hamburger,
#hamnav {
  display: none;
}

/*----------index-------------*/
h1 {
  color: #fce25a;
  font-family: "Roboto", sans-serif;
  font-size: 1.875rem;
  text-align: center;
  padding: 25px;
}

.section1 {
  background-color: #51584a;
  width: 100%;
  height: 130px;
  padding: 19px;
  display: flex;
  justify-content: space-evenly;
}

.bulk {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 160px;
}

.bulk-big-text {
  font-size: 1.225rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #fff;
  padding: 8px;
}

.bulk-small-text {
  font-size: 0.975rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  color: #fff;
}

.section2 {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.h1-top {
  font-family: "martel sans", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 1.363rem;
  padding: 3px;
  text-align: center;
}

.bold {
  font-family: "martel sans", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 1.363rem;
}

.section3 {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#jacketsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}

.jacketProduct img {
  width: 500px;
  height: 600px;
  
}

.section4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.btn {
  background-color: #51584a;
  border: 1px solid #fff;
  font-family: "martel sans", sans-serif;
  font-weight: 700;
  border-radius: 36px;
  color: #fff;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.9rem;
  width: 184px;
  cursor: pointer;
}

.btn:hover {
  background-color: #fce25a;
  color: #000;
}

/*----------about-------------*/

.section1-about-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.section1-about-text {
  width: 39%;
}

.p-about {
  font-family: "martel sans", sans-serif;
  font-weight: 500;
  font-size: 1.02rem;
  padding-bottom: 35px;
}

.p-about2 {
  font-family: "martel sans", sans-serif;
  font-weight: 500;
  font-size: 1.02rem;
  padding-bottom: 35px;
}

.b-about {
  font-family: "martel sans", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 1.02rem;
}

.section1-about-wrapper,
.section2-about-wrapper {
  padding: 25px;
}

.section2-about-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.section2-about-text {
  width: 39%;
}

/*--------Men and women----------*/
.product-card {
  background-color: #51584a;
  margin: 10px;
  max-width: 341px;
}

.product-name {
  font-family: "martel sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 800;
  color: #fff;
  margin-left: 5px;
}

.product-price {
  font-family: "martel sans", sans-serif;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  margin-left: 5px;
}

.dot-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*----------footer-----------*/
footer {
  background-color: #3c3c3c;
  width: 100%;
  position: relative;
}

.footer-wrapper1 {
  display: flex;
  justify-content: space-between;
}

.logo-footer {
  margin-left: 20px;
  padding-top: 20px;
}

.footer-ul {
  display: flex;
  justify-content: center;
}

.li-footer {
  margin: 16px;
}

.footer-links {
  color: #fce25a;
  font-family: "Roboto", sans-serif;
  font-size: 1.875rem;
  font-weight: 500;
  text-decoration: none;
}

.footer-nav,
.some {
  display: flex;
  align-items: flex-end;
}

.footer-ul,
.some-icon {
  display: flex;
  align-items: flex-end;
}

.some-icon-li img {
  margin-bottom: -7px;
}

.footer-wrapper2 {
  display: flex;
  justify-content: space-between;
}

.newsletter-wrapper2 {
  display: inline-block;
  justify-content: space-between;
  padding: 1%;
}

.some-icon {
  margin-right: 20px;
}

.some-icon-li {
  display: inline-block;
  margin-right: -5px;
}

.some-media-phone {
  display: none;
}

.newsletter {
  display: flex;
  align-items: flex-end;
  margin-top: 0.5vw;
  margin-left: 5%;
}

.newsletter-title {
  font-family: "martel sans", sans-serif;
  color: #fff;
  font-weight: lighter;
  font-size: 1.5rem;
}

.input-container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 3px;
  margin-top: 3px;
}

.email-input {
  width: 290px;
  border: none;
  border-bottom: 2px solid #fce25a;
  outline: none;
  background-color: transparent;
  margin-right: 20px;
  color: #aeaeae;
  font-family: "Martel sans", sans-serif;
  font-size: 0.9625rem;
  position: relative;
}

.email-input::placeholder {
  color: #aeaeae;
}

.submit-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: absolute;
  left: 266px;
  bottom: 2px;
}

.pil {
  height: 1.1rem;
}

.privacy-policy {
  font-family: "martel sans", sans-serif;
  color: #fff;
  font-weight: lighter;
  font-size: 0.6825rem;
}

.payment-wrapper {
  align-self: flex-end;
  margin-right: 20px;
  margin-bottom: 20px;
}

.payment {
  margin: 0;
  padding: 0;
}

/* ---------- MEDIA QUERIES -------------*/
/* mobile to small tablet */
@media screen and (min-width: 300px) and (max-width: 600px) {
  /* ---- INDEX---- */

  .nav-links {
    font-size: 1.4rem;
  }

  .h1-top,
  .bold {
    text-wrap: wrap;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-size: 1rem;
  }

  .section2 {
    word-wrap: break-word;
  }

  .section3 {
    gap: 10px;
  }

  .section4 {
    gap: 10px;
    margin-top: 10px;
  }

  .btn {
    font-size: 1rem;
    width: 107px;
  }

  h1 {
    font-size: 1.675rem;
  }

  /*---nav---*/
  .navigation {
    display: none;
  }

  /*----hamburger--*/

  #hamitems a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid white;
    padding: 12px;
    font-family: "Martel sans", sans-serif;
    font-weight: 800;
    font-size: 1.388rem;
    text-decoration: none;
    color: white;
  }

  #hamnav label {
    display: block;
    color: #fce25a;
    background-color: transparent;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 2.675rem;
    font-weight: 500;
    float: right;
    margin-right: 10px;
  }

  #hamitems {
    display: none;
  }

  #hamnav {
    position: absolute;
    display: block;
    top: 50px;
    right: 0px;
    width: 100%;
  }

  #hamnav input:checked ~ #hamitems {
    display: block;
    background-color: #51584a;
    width: 100%;
    height: auto;
    margin-top: 60px;
    text-align: center;
  }

  /*---bulk-section---*/
  .section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 10px 20px;
    align-items: center;
    text-align: center;
  }

  .bulk {
    margin: 10px 0;
    align-items: center;
    text-align: center;
  }

  .bulk-big-text {
    font-size: 0.8rem;
  }

  .bulk-small-text {
    font-size: 0.6rem;
  }

  .icon {
    width: 40px;
    height: auto;
  }

  /*---footer---*/

  .footer-wrapper1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
  }

  .footer-wrapper2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo-footer {
    margin-bottom: 10px;
  }

  .some {
    display: none;
  }

  .logo-and-some {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 10px;
  }

  .some-media-phone {
    display: flex;
    align-items: center;
  }

  .some-img {
    height: 45px;
    width: 45px;
  }

  .footer-nav {
    padding-bottom: 10px;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 5px;
    max-width: 80%;
  }

  .nav-links {
    font-size: 1.3rem;
  }

  .li-footer {
    margin: 10px;
  }

  .newsletter-wrapper2 {
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .payment-wrapper {
    justify-content: center;
    margin: 0 auto;
    padding: 25px;
  }
}

/* tablet and small laptops */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .nav-links {
    font-size: 1.4rem;
  }

  /*---nav---*/
  .navigation {
    display: none;
  }

  /*----hamburger--*/

  #hamitems a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid white;
    padding: 12px;
    font-family: "Martel sans", sans-serif;
    font-weight: 800;
    font-size: 1.388rem;
    text-decoration: none;
    color: white;
  }

  #hamnav label {
    display: block;
    color: #fce25a;
    background-color: transparent;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 2.675rem;
    font-weight: 500;
    float: right;
    margin-right: 10px;
  }

  #hamitems {
    display: none;
  }

  #hamnav {
    position: absolute;
    display: block;
    top: 50px;
    right: 0px;
    width: 100%;
  }

  #hamnav input:checked ~ #hamitems {
    display: block;
    background-color: #51584a;
    width: 100%;
    height: auto;
    margin-top: 60px;
    text-align: center;
  }

  /*----bulk----*/
  .section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 10px 25px;
  }

  .bulk {
    margin: 10px 0;
    align-items: center;
    text-align: center;
  }

  .bulk-big-text {
    font-size: 0.9rem;
  }

  .bulk-small-text {
    font-size: 0.7rem;
  }

  .icon {
    width: 40px;
    height: auto;
  }

  /*--- Footer --- */
  .footer-wrapper1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
  }

  .logo-footer {
    margin-bottom: 10px;
  }

  .some {
    display: none;
  }

  .logo-and-some {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
  }

  .some-media-phone {
    display: flex;
    align-items: center;
  }

  .some-img {
    height: 45px;
    width: 45px;
  }

  .footer-nav {
    padding-bottom: 10px;
  }

  .nav-links {
    font-size: 1.675rem;
  }

  .btn {
    font-size: 1.5rem;
    width: 150px;
  }
}

/* laptop to larger desktops */
@media screen and (min-width: 901px) and (max-width: 1300px) {
  /*----bulk---*/
  .section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 10px 25px;
  }

  .bulk {
    margin: 10px 0;
    align-items: center;
    text-align: center;
  }
}

/* larger monitors */
@media screen and (min-width: 1301px) {
  /*----bulk---*/
  .section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 10px 25px;
  }

  .bulk {
    margin: 10px 0;
    align-items: center;
    text-align: center;
  }
}
